// core
$transition-default-time: .2s;
$transition-default-function: ease;

$transition-default: all $transition-default-time $transition-default-function;
$transition-figure: top 2s linear, left 2s linear, background $transition-default-time $transition-default-function;
