// primary
$color-primary: #dc3c43;
$color-dark: #333;

$color-cell-white: #f1f1f1;
$color-cell-dark: #333;

// text
$color-text-regular: $color-dark;
$color-text-light: #9D9D9D;

// advanced
$color-page-bg: #fff;
